<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Update User</title>
</head>

<body>
<div class="w3-container">

    <p id="userId" hidden><span th:text="${id}"/></p>

    <div class="w3-container w3-bar w3-blue">
        <span class="w3-bar-item" style="padding-left:1px"><b>Update User</b></span>

        <span class="w3-bar-item w3-button" style="float: right;">
            <img th:src="@{/images/icon_logout.jpg}"
                 alt="Logout"
                 style="width:27px;height:27px;"
                 title="Logout"
                 id="btnLogout">
        </span>

        <a href="/home" class="w3-bar-item w3-button" style="float: right;">
            <img th:src="@{/images/icon_home.png}"
                 alt="home"
                 style="width:27px;height:27px;"
                 title="home"></a>
    </div>
    <br>


    <table id="update_entity_table" class="w3-table w3-bordered">
        <tr>
            <th>Property Name</th>
            <th>Property Value</th>
        </tr>
        <tr>
            <td>Id</td>
            <td><label id="user_id" name="user_id_name" ></label></td>
        </tr>
        <tr>
            <td>First Name</td>
            <td><input id="user_first_name" name="user_first_name_name" type="text"></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input id="user_last_name" name="user_last_name_name" type="text"></td>
        </tr>
    </table>

    <br>
    <br>


    <div class="container">
        <button id="btnSave" class="btnSaveAuto">Save</button>
        <button id="btnGoToRead" type="button">Cancel</button>
    </div>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script type="text/javascript">

        $.ajaxSetup({
            cache: false,
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
            }
        });

        function UserDTO(id,firstName,lastName){
            this.id = id;
            this.firstName = firstName;
            this.lastName = lastName;
        }

        $(document).delegate('#btnSave','click',function(event){
            event.preventDefault();

            var userId = $('#userId').text();

            var id = userId;
            var firstName = $('#user_first_name').val();
            var lastName = $('#user_last_name').val();

            var userDTO = new UserDTO(id,firstName,lastName);

            console.log(userId);
            console.log(id);
            console.log(firstName);
            console.log(lastName);
            console.log(userDTO);
            console.log(JSON.stringify(userDTO));

            $.ajax({
                type: "PUT",
                url: '/user',
                data: JSON.stringify(userDTO),
                success: function(result){
                    location.href="/ui/user/read/" + userId;
                    window.setTimeout(function(){
                        location.reload();
                    }, 1000);
                },
                error: function(err){
                    alert('PUT REQUEST ERROR!');
                }
            });
        });


        $(document).delegate('#btnGoToRead','click',function(result){

            var userId = $('#userId').text();

            location.href="/ui/user/read/" + userId;
            window.setTimeout(function(){
                location.reload();
            }, 1000);
        });


        function ajaxGet(){

            var userId = $('#userId').text();

            $.getJSON('/user/' + userId, function(json){

                console.log(json);

                $('#user_id').text(json.id);
                $('#user_first_name').val(json.firstName);
                $('#user_last_name').val(json.lastName);

            });
        }

        $(document).delegate('#btnLogout','click',function(event){
            event.preventDefault();

            $.ajax({
                type: "GET",
                url: '/auth/login',
                success: function(result){
                    location.href="/auth/login";
                    window.setTimeout(function(){
                        location.reload();
                    }, 1000);
                },
                error: function(err){
                    alert('LOGOUT ERROR!');
                }
            });
        });

        $(document).ready(function() {
            ajaxGet();
        });

    </script>

</div>

</body>
</html>